.services {
  background-image: linear-gradient(0deg, $color-background 0%, $gradient-about-2 84.9%),
    url('../images/bg-5@x1.jpg');
  @media screen and (min-width: 320px) {
    background-image: linear-gradient(0deg, $color-background 0%, $gradient-about-2 84.9%),
      url('../images/bg-5@x1.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, $color-background 0%, $gradient-about-2 84.9%),
        url('../images/bg-5@x2.jpg');
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 716px, cover;
}
.services__title {
  font-family: $font-accent;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 100px;
}
.services__item {
  width: 500px;
}
.services__items {
  display: flex;
  justify-content: space-between;
}
.services__item-block {
  border: 1px solid $color-text;
  padding-left: 132px;
  padding-right: 132px;
  padding-top: 43px;
  padding-bottom: 38px;
  margin-bottom: 25px;
}
.services__item .services__item-block--right {
  padding-top: 37px;
}
.services__text-left,
.services__text-right {
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}
.services__text-left {
  margin-bottom: 146px;
}
.services__text-right {
  margin-bottom: 152px;
}
.services__text-accent {
  color: $color-accent;
}
.services__price {
  position: relative;
  font-size: 48px;
  line-height: 1.19;
  text-align: center;
}
.services__price::after {
  position: absolute;
  top: -32px;
  right: -64px;
  content: '250 000 $';
  font-size: 14px;
  line-height: 1.21;
  color: $color-text-small;
}
.services__price::before {
  position: absolute;
  top: -25px;
  right: -64px;
  content: '';
  width: 68px;
  height: 1px;
  background-color: $color-accent;
  transform: rotate(17.1deg);
}
.services__btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 19px;
}
.container__services {
  padding-bottom: 42px;
}
.services__block-photo {
  display: flex;
  align-items: stretch;
  margin-bottom: 200px;
  & div + div {
    margin-left: 83px;
    margin-top: 0;
  }
}
.block-photo__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 1.21;
}
.block-photo__item {
  display: flex;
  align-items: center;
}
.block-photo__item-text {
  font-size: 24px;
  line-height: 1.21;
  position: relative;
  margin-left: 30px;
}
.block-photo__item-text::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: $color-text;
  left: -30px;
  top: 4px;
  border-radius: 50%;
}
.block-photo__items {
  margin-bottom: 25px;
}
.block-photo__text-info {
  font-size: 12px;
  line-height: 1.16;
  color: $color-text-small;
}
.block-photo__btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 19px;
}
.block-photo__btns button + button {
  margin-top: 49px;
}
.block-photo__btns {
  margin-bottom: 0;
}
.block-photo__slogan {
  font-family: $font-accent;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.block-photo__slider {
  border: 1px solid $color-text;
  padding: 100px 200px;
  margin-bottom: 50px;
  & img {
    display: block;
  }
}
.block-photo__btn--img {
  position: relative;
}
.block-photo__btn--img::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 49px;
  width: 192px;
  height: 150px;
  background-size: cover;
  background-image: url('../images/astronaut@x1.png');
  @media screen and (min-width: 320px) {
    background-image: url('../images/astronaut@x1.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/astronaut@x2.png');
    }
  }
}
@media screen and (max-width: 1229px) {
  .services__item {
    width: 330px;
  }
  .services__item-block {
    padding-left: 45px;
    padding-right: 45px;
  }
  .services__price {
    font-size: 42px;
  }
  .services__price::after {
    right: -24px;
  }
  .services__price::before {
    right: -24px;
  }
  .block-photo__slider {
    padding: 15px 15px 100px 15px;
  }
  .block-photo__btn--img::before {
    bottom: 77px;
  }
}
@media screen and (max-width: 767px) {
  .services__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__items li + li {
    margin-top: 50px;
  }
  .services__title {
    font-size: 36px;
  }
  .block-photo {
    flex-wrap: wrap;
  }
  .services__block-photo div + div {
    margin-left: 0;
    margin-top: 150px;
  }
  .block-photo__btn--img::before {
    bottom: 49px;
  }
}
@media screen and (max-width: 479px) {
  .services__item-block {
    padding-left: 25px;
    padding-right: 25px;
  }
  .services__title {
    font-size: 23px;
  }
  .services__btn,
  .block-photo__btn {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .services__item {
    width: 100%;
  }
  .services__price::after {
    right: -20px;
  }
  .services__price::before {
    right: -20px;
  }
  .block-photo__btn--img::before {
    bottom: 39px;
  }
}
